<%= form_for(@comment, remote: true) do |f| %>
  <%= f.text_field :comment  %>
  <%= f.submit %>
<% end %>

<ul id="comments">

<% @comments.each do |comment| %>
  <li><%= comment.comment %></li>
<% end %>
</ul>
